<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>

<header>
    <div class="container-fluid" style="padding: 0">
        <div class="row">
            <div class="col-12">

                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <div class="collapse navbar-collapse" id="user">
                        <ul class="navbar-nav mr-auto">
                            <a class="navbar-brand font-weight-bold" th:text="${user.getLogin()}"></a>
                            <a class="navbar-brand">with roles: </a>
                            <a class="navbar-brand" th:text="${user.getRolesToString()}"></a>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-right" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">

        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 15px; height: 100vh">

                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.getId()}"></td>
                                            <td th:text="${user.getFirstName()}"></td>
                                            <td th:text="${user.getLastName()}"></td>
                                            <td th:text="${user.getAge()}"></td>
                                            <td th:text="${user.getEmail()}"></td>
                                            <td th:text="${user.getRolesToString()}"></td>
                                            <td>
                                                <a class="btn btn-info" role="button" data-toggle="modal"
                                                   data-target="#edit"
                                                   th:attrappend="data-target=${user.getId()}">Edit</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" role="button" data-toggle="modal"
                                                   data-target="#delete" th:attrappend="data-target=${user.getId()}">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="newUser">
                            <div class="form-group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">Add new user</h5>
                                        <div class="card-body text-center">
                                            <div class="form justify-content-center mx-auto col-5">
                                                <form action="#" th:action="@{/admin/add}" th:object="${newUser}"
                                                      method="post">
                                                    <p>
                                                        <label class="container-fluid" th:for="firstName"><strong>First
                                                            name</strong>
                                                            <input class="form-control" type="text" name="firstName"
                                                                   th:id="firstName"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" th:for="lastName"><strong>Last
                                                            name</strong>
                                                            <input class="form-control" type="text" name="lastName"
                                                                   th:id="lastName"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" th:for="age"><strong>Age</strong>
                                                            <input class="form-control" type="number" name="age"
                                                                   th:id="age"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid"
                                                               th:for="email"><strong>Email</strong>
                                                            <input class="form-control" type="email" name="email"
                                                                   th:id="email"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" th:for="password"><strong>Password</strong>
                                                            <input class="form-control" type="password" name="password"
                                                                   th:id="password"/>
                                                        </label>
                                                    </p>
                                                    <label class="container-fluid"
                                                           th:for="roles"><strong>Role</strong>
                                                        <select class="form-control" name="role" multiple size="2">
                                                            <option value="ROLE_ADMIN">ADMIN</option>
                                                            <option value="ROLE_USER">USER</option>
                                                        </select>
                                                    </label>
                                                    <button type="submit" class="btn btn-success">Add new user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${user.getId()}">ID</td>
                                    <td th:text="${user.getFirstName()}">First Name</td>
                                    <td th:text="${user.getLastName()}">Last Name</td>
                                    <td th:text="${user.getAge()}">Age</td>
                                    <td th:text="${user.getEmail()}">Email</td>
                                    <td th:text="${user.getRolesToString()}">Role</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:each="updateUser : ${users}">
    <div class="modal fade" id="edit" th:attrappend="id=${updateUser.getId()}" tabindex="-1" role="dialog"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:method="POST" th:action="@{/admin/update/{id} (id = ${updateUser.getId()})}"
                      th:object="${updateUser}">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls">
                                <p>
                                    <label for="id"><strong>ID</strong>
                                        <input class="form-control" type="number" name="id" id="id" th:value="*{id}"
                                               disabled>
                                    </label>
                                </p>
                                <p>
                                    <label for="firstName"><strong>First name</strong>
                                        <input class="form-control" type="text" name="firstName" id="firstName"
                                               th:value="*{firstName}">
                                    </label>
                                </p>
                                <p>
                                    <label for="lastName"><strong>Last name</strong>
                                        <input class="form-control" type="text" name="lastName" id="lastName"
                                               th:value="*{lastName}">
                                    </label>
                                </p>
                                <p>
                                    <label for="age"><strong>Age</strong>
                                        <input class="form-control" type="number" name="age" id="age" th:value="*{age}">
                                    </label>
                                </p>
                                <p>
                                    <label for="email"><strong>Email</strong>
                                        <input class="form-control" type="email" name="email" id="email"
                                               th:value="*{email}">
                                    </label>
                                </p>
                                <p>
                                    <label for="password"><strong>Password</strong>
                                        <input class="form-control" type="password" name="password" id="password"
                                               th:value="*{password}">
                                    </label>
                                </p>
                                <label class="container-fluid"
                                       th:for="role" type="text"><strong>Role</strong>
                                    <select class="form-control" name="role" id="role" multiple size="2">
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                        <option value="ROLE_USER">USER</option>
                                    </select>
                                </label>
                                <h1></h1>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:each="deleteUser : ${users}">
    <div class="modal fade" id="delete" th:attrappend="id=${deleteUser.getId()}" tabindex="-1"
         role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:method="GET" th:action="@{/admin/delete/{id} (id = ${deleteUser.getId()})}"
                      th:object="${deleteUser}">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group required">
                            <div class="controls">
                                <p>
                                    <label for="deleteId"><strong>ID</strong>
                                        <input class="form-control" type="number" name="id" id="deleteId"
                                               th:value="*{id}" disabled>
                                    </label>
                                </p>
                                <p>
                                    <label for="deleteFirstName"><strong>First name</strong>
                                        <input class="form-control" type="text" name="firstName" id="deleteFirstName"
                                               th:value="*{firstName}" disabled>
                                    </label>
                                </p>
                                <p>
                                    <label for="deleteLastName"><strong>Last name</strong>
                                        <input class="form-control" type="text" name="lastName" id="deleteLastName"
                                               th:value="*{lastName}" disabled>
                                    </label>
                                </p>
                                <p>
                                    <label for="deleteAge"><strong>Age</strong>
                                        <input class="form-control" type="number" name="age" id="deleteAge"
                                               th:value="*{age}" disabled>
                                    </label>
                                </p>
                                <p>
                                    <label for="deleteEmail"><strong>Email</strong>
                                        <input class="form-control" type="text" name="email" id="deleteEmail"
                                               th:value="*{email}" disabled>
                                    </label>
                                </p>
                                <label for="deleteRoles"><strong>Roles</strong>
                                    <input class="form-control" type="text" name="email" id="deleteRoles"
                                           th:value="*{rolesToString}" disabled>
                                </label>
                                <h1></h1>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-danger btn btn-primary">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>